RewriteEngine On

ErrorDocument 404 /MboaGeek/404.php

RewriteRule ^home index.php [NC,L]
RewriteRule ^(en|fr)$ index.php?lang=$1 [NC,L]
RewriteRule ^portfolio portfolio.php [NC,L]
RewriteRule ^about about-us.php [NC,L]
RewriteRule ^recruitment join-us.php [NC,L]
RewriteRule ^legals legals-mentions.php [NC,L]
RewriteRule ^pricing pricing.php [NC,L]
RewriteRule ^contact contact-us.php [NC,L]
RewriteRule ^post blog-item.php [NC,L]
RewriteRule ^(en|fr)/([0-9a-zA-Z]+)$ $2?lang=$1 [NC,L]

